.active{
  color: #40a7d6;
}
.banners{
  background: linear-gradient(rgba(248, 248, 238, 0.7), rgba(0, 0, 0, 0.7)),
  url("./img/banner.jpg") center/cover no-repeat;
}
/* .farambadar{
   box-shadow: 2px 1px 22px 22px rgba(0,0,0,0.38);
  -webkit-box-shadow: 2px 1px 22px 22px rgba(0,0,0,0.38);
  -moz-box-shadow: 2px 1px 22px 22px rgba(0,0,0,0.38);
  padding: 2rem;
  margin-top:10% ;
  background-color: white;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
} */
